<!DOCTYPE html>
<html lang="en">

<head>
    <title>M o o n &#127765;C l u b</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="moon.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    {{{ body }}}
</body>
</html>
